body {
	background-color: white;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	color: #51463d;
	font-size: 62.5%;
	}	
a:link, a:visited {
	font-weight: bold;
	text-decoration: none;
	outline: none;
	color: #3792b3;
	}
#header {
	padding-left: 20px;
	padding-bottom: 0;
	padding-right: 20px;
	padding-top: 40px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	color: white;
	text-align: center;
	height: 400px;
	background-color: #206192;
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 0px;
}
#wrap_top {
	right: 10%;
	left: 10%;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-top: 20px;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
	margin-top: 0px;
	width: 90%;
	max-width: 1000px;
	min-width: 700px;
	font-size: 1.3em;
}	
#wrap {
	right: 10%;
	left: 10%;
	background-color: white;
	top: 400px;
	height: auto;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-top: 40px;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
	margin-top: 0px;
	width: 90%;
	max-width: 1000px;
	min-width: 700px;
	font-size: 1.3em;
	}
#wrap_projects {
	right: 10%;
	left: 10%;
	background-color: white;
	top: 50px;
	position: absolute;
	height: auto;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-top: 40px;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
	margin-top: 0px;
	width: 90%;
	max-width: 1000px;
	min-width: 700px;
	font-size: 1.3em;
}
#wrap_resume {
	background-color: white;
	color: #040404;
	right: 10%;
	left: 10%;
	top: 100px;
	position: absolute;
	height: auto;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-top: 40px;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
	margin-top: 20px;
	width: 90%;
	max-width: 1000px;
	min-width: 700px;
	font-size: 1.3em;
}
#carousel {
    	text-align: left;
    	padding: 20px;
    	max-width: 1000px;
    	min-width: 700px;
    	width: 90%;
    	background-color: #64bdff;
    	height: 250px;
    	float: left;
}
#logo {
    	width: 20%;
    	float: left;
    }
	
#middle-background {
	background-color: #008f4d;
	margin-bottom: 0px;
	margin-top: 0px;
	height: 1200px;
	display: block;
	color: white;
		padding-left: 0px;
		padding-bottom: 0px;
		padding-right: 0px;
		padding-top: 0px;
}
	#footer {
	height: 2000px;
	background-color: #206192;
	clear: both;
	margin: 0 auto;
	padding: 10px 0 30px 0;
	font-size: 1em;
	color: #9c836e;
}
#footer a {
	color: #51463d;
}

#tag {
    	padding-top: 30px;
    	text-align: center;
    	color: white;
    	font-size: 2em;
    }

.main {
	float: right;
	width: 73%;
	}

#secondary_proj {
	padding: 6px;
	margin-top: 12px;
	background-color: #feffc3;
	float: left;
	width: 25%;
	}
	
#main_projects {
	position: relative;
	float: left;
	width: 55%;
	}

.secondary {
	max-width: 170px;
	float: left;
	width: 25%;
	}
#nav {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	float: right;
	font-size: 10px;
	}
#nav ul {
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
#nav ul li {
	text-align: center;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
	float: left;
	width: 33%;
	}
#nav ul li.last {
	margin-right: 0;
	}
#nav ul li a {
	display: block;
	float: left;
	width: 100%;
	font-size: 1.1em;
	line-height: 1.3em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #ffff24;
	}
#nav ul li a strong {
	display: block;
	padding: .8em 15px;
	}
#nav ul li a em {
	display: block;
	font-size: .9em;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0;
	color: #b2a18f;
	}
.item_project {
    	border-top-style: groove;
    	border-top-width: 2px;
    	background-color: white;
    	margin-bottom: 5px;
    	padding-left: 10px;
    	padding-bottom: 10px;
    	padding-right: 10px;
    	padding-top: 10px;
    	margin-top: 5px;
    	float: right;
    }

.thumb {
    	float: left;
    	width: 20%;
    }

#descript {
    	display: block;
    	float: left;
    	width: 75%;
    }

h1 {
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 3px;
	padding-right: 0;
	padding-top: 3px;
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 3em;
	}

.main h2 {
	background-color: #a4a4a4;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-top: 12px;
	padding-bottom: 3px;
	padding-top: 3px;
	color: white;
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 1em;
	}
	
.mainhome h2 {
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 10px;
	border-style: ridge;
	border-top-width: 1px;
	text-align: left;
	padding-bottom: 0px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	margin-left: 0;
	margin-bottom: 12px;
	margin-right: 0;
	margin-top: 6px;
	font-weight: bold;
	font-size: 1.2em;
	}
	
.mainhome p {
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 10px;
	text-align: left;
	padding-bottom: 0px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	margin-left: 0;
	margin-bottom: 12px;
	margin-right: 0;
	margin-top: 6px;
	font-size: 0.9em;
	}
	
.mainhome li {
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 10px;
	text-align: left;
	padding-bottom: 0px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	margin-left: 0;
	margin-bottom: 12px;
	margin-right: 0;
	margin-top: 6px;
	font-size: 0.9em;
	}
	
#wrap_projects h1 {
	text-align: left;
	padding-bottom: 0px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	margin-left: 0;
	margin-bottom: 12px;
	margin-right: 0;
	margin-top: 12px;
	font-weight: bold;
	font-size: 2em;
	}



p.date {
	right: 0px;
	top: -36px;
	position: relative;
	float: right;
	margin: 0;
	padding: 15px 0 4px 0px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2 em;
	color: #51463d;
	}
	
	
.main h3 {
	margin: 0;
	padding: 10px 0 4px 0px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: #51463d;
	border-bottom: 2px solid #e2e1d4;
	}
	
.main h4 {
	display: block;
	position: relative;
	margin: 0;
	padding: 15px 0 4px 0px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2 ;
	color: #51463d;
	}
	
.main h2 em {
	font-style: normal;
	font-weight: normal;
	color: #999;
	}
	
.secondary h2 {
	background-color: #979797;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-top: 12px;
	padding-left: 6px;
	padding-bottom: 3px;
	padding-right: 0;
	padding-top: 3px;
	color: white;
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 1em;
	}
.duty li {
	padding-right: 6px;
	padding-left: 6px;
	border-bottom-style: dashed;
	top: 4px;
	display: block;
	margin: 12px 0 2px 0;
	position: relative;	
	}

#secondary_proj .duty li {
	padding-right: 6px;
	padding-left: 6px;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	background-color: #fff96b;
	top: 4px;
	display: block;
	margin: 12px 0 2px 0;
	position: relative;	
	}	
	
ul.lst li a {
	text-align: center;
	display: block;
	padding: 7px;
	overflow: hidden;
	
	}
ul.lst li.last a {
	border: none;
	}
ul.lst a:hover {
	text-align: center;
	background: #f8f7f1;
	}
ul.lst li em {
	float: right;
	margin: 0 0 0 5px;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	color: #9c836e;
ul.press li {
	margin: 1em 0;
	padding: 0 0 1em 0;
	border-bottom: 1px solid #e2e1d4;
	}
ul.press li.last {
	padding-bottom: 0;
	border-bottom: none;
	}
ul.press li blockquote p.author a {
	font-weight: bold;
	}
#main_projects {
    	background-color: #ffc86c;
}